@model Campaign
@{
	ViewData["Title"] = "Create";
	Layout = "../Shared/_MarketingLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h2>Create</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Campaign</h5>
		<a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
		<hr />
		<form asp-action="Create">
			<input type="submit" value="Create" class="btn btn-primary" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="rowoverride">
				<div class="coloverride">
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-header">
							<h4>Campaign info</h4>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Product</label>
							<input asp-for="Product" class="form-control" maxlength="15" />
							<span asp-validation-for="Product" class="text-danger"></span>
						</div>
					</div>					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Promotion</label>
							<input asp-for="Promotion" class="form-control" maxlength="15" />
							<span asp-validation-for="Promotion" class="text-danger"></span>
						</div>
					</div>					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Discount</label>
							<input asp-for="Discount" class="form-control" maxlength="15" />
							<span asp-validation-for="Discount" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
