@{
    Layout = "../Shared/_HRMLayout.cshtml";
}
<div class="rowoverride">
    <div class="card hrmreportcard">
        <div class="card-header cardwidth100">
            Welcome to the Report Section!
        </div>
        <div class="card-body cardwidth100">
            <h5 class="card-title cardwidth100">These are the 2 options</h5>
            <p class="card-text">1: Average Salary Per Department </p>
            <p class="card-text">2: Average Salary Per Job </p>
            <div pbi-resize="powerbi" pbi-resize-src="https://app.powerbi.com/view?r=eyJrIjoiYjBkMWZiNGQtZTU4Ni00ZTY0LWE3NzAtMjY2NjQ2ODU5Y2ViIiwidCI6ImEyNTg2YjliLWY4NjctNGIzYy05MzYzLTViNDM1YzVkYmM0NSIsImMiOjh9"
                 pbi-resize-min-width="200" pbi-default-width="200px" pbi-default-height="488" pbi-resize-width="16" pbi-resize-height="9" pbi-resize-load-event="page-load" pbi-resize-header="false" style="position: relative;">
                <iframe frameborder="0" allowfullscreen="true" style="max-width: 1000px"></iframe>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

