@model ProductModel

@{
	ViewData["Title"] = "Edit";
	Layout = "../Shared/_MarketingLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h2>Edit</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Product: @Model.Name</h5>

		<a asp-action="Index" class="btn btn-outline-dark">Back to List</a>

		<hr />
		<form asp-action="Edit">
			<input type="submit" value="Save" class="btn btn-primary" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="rowoverride">
				<div class="coloverride">
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-header">
							<h4>Product info</h4>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Id</label>
							<input class="form-control" maxlength="10" value="@Model.Id" disabled />
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Name</label>
							<input asp-for="Name" class="form-control" maxlength="50" title="Name" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Description</label>
							<input asp-for="Description" class="form-control" maxlength="255" title="Description" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Category</label>
							<input asp-for="Category" class="form-control" maxlength="1" title="Category" />
							<span asp-validation-for="Category" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Introduction date</label>
							<input asp-for="Introduction_date" class="form-control" maxlength="13" title="Introduction date" />
							<span asp-validation-for="Introduction_date" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Color</label>
							<input asp-for="Color" class="form-control" maxlength="50" title="Color" />
							<span asp-validation-for="Color" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Size</label>
							<input asp-for="Size" class="form-control" title="Size" />
							<span asp-validation-for="Size" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="coloverride">
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-header">
							<h4>Cost info</h4>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Price</label>
							<input asp-for="Price" class="form-control" maxlength="15" />
							<span asp-validation-for="Price" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Production cost</label>
							<input asp-for="Production_cost" class="form-control" maxlength="15" />
							<span asp-validation-for="Production_cost" class="text-danger"></span>
						</div>
					</div>
					<div class="card" style="width: 18rem;margin-bottom:10px;">
						<div class="card-body">
							<label class="control-label">Profit margin</label>
							<input asp-for="Profit_margin" class="form-control" maxlength="15" />
							<span asp-validation-for="Profit_margin" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}