@{
    ViewData["Title"] = "Error";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>The excursion date was not valid. Please, choose excursions that are within the Reis_uitvoering Dates.</h3>