@{
    ViewData["Title"] = "Error";
    Layout = "_AdminLayout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>There are Bookings for this tour! All bookings have to be canceled first!</h3>