@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "../Shared/_CustomerLayout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>Please, register as a booker first. To do that use the 'Apply as Booker button at the top.'</h3>